{% extends "base.html" %}

{% block centered_container %}

<h1 class="mb-4">Cambia la tua password</h1>
<div class="row">


    <div class="shadow-sm p-3 px-5 mb-4 col-lg-6 justify-content-center bg-white">
        <form class="pr-5" method="post">
            <p></p>
            {% csrf_token %}
            {{ form.as_p }}
            <input id="submit-btn" class="btn btn-primary" type="submit" value='Modifica la mia password'>
            <a href="{% url 'index' %}" class="btn btn-outline-primary">Annulla</a>
            <input type="hidden" name="next" value="{{ next }}">
        </form>
    </div>
</div>

{% endblock %}